.app-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  width: 210px;
  padding: 20px;
  background-color: #f4f4f4;
}

.main-content {
  padding: 20px;
  width: calc(100% - 210px);
  max-width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
  transform: translateX(-100px);
}